/* ==========================================================================
   Site styles
   ========================================================================== */

.vertical {
	display: table-cell;
	vertical-align: middle;
}

section,
footer {
	max-width:100%;
	max-width: $block-width;
	margin: 0 auto;
}

section.main {
	background: #fff;
	padding: 2.618em;
	margin-top: -2.618em;
}
section.main p {
	margin-top:0;
}
.elsewhere {
	padding: 1.618em 0;
	border-top: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
}
.elsewhere a {
	display: inline-block;
	width: 50%;
	vertical-align:top;
	text-align: center;
}
header {
	height: 60%;
	background: url(../img/grass.jpg);
	color: #fff;
	background-size: cover;
	text-align: center;
	display: table;
	width: 100%;
}
footer {
	padding: 0 2.618em;
	margin-top: 2.618em;
}
a {
	text-decoration: none;
	color: #4a4a4a;
	transition: color ease 0.3s;
}
a:hover {
	color: #39CCCC;
}