/* ==========================================================================
   TYPE
   - Fonts
   - Copy
   - Headings
   ========================================================================== */

/* Fonts
   ========================================================================== */

body {
	font-family: 'Noto Serif', serif;
}

h1,
footer {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

/* Copy
   ========================================================================== */

p {           font-size: $font-size-4; }
.intro {      font-size: $font-size-3; }



/* Headings
   ========================================================================== */

h1,.h1 {      font-size: $font-size-1; font-weight: 700; }
h2,.h2 {      font-size: $font-size-2; font-weight: 400; margin-bottom: 2.618em; }
h3,.h3 {      font-size: $font-size-3; }
h4,.h4 {      font-size: $font-size-4; }
h5,.h5 {      font-size: $font-size-5; }
h6,.h6 {      font-size: $font-size-6; }

.meta {       font-size: $font-size-6; }

blockquote {  font-size: $font-size-2; }
