/* ==========================================================================
   VARIABLES
   ========================================================================== */

/* Colors
   ========================================================================== */

/* Don't use black */

$near-black:  #111;
$gray-dark:   #222;
$gray-medium: #999;
$gray-light:  #eee;
$white:       #fff;

/* Type Scale
   ========================================================================== */

/**
 * 12 & 16 as roots then powers of two.
 */

$font-size-1:2.618em;
$font-size-2:1.824em;
$font-size-3:1.618em;
$font-size-4:1.127em;
$font-size-5:1em;
$font-size-6:0.618em;


/* Medium */
$breakpoint-1-max-width:48em;

/* Large */
$breakpoint-2-min-width:48em;
$breakpoint-2-max-width:64em;

/* Main Block width */
$block-width:32.724em;